@charset "utf-8";



/* 默认样式reset start*/
* {
    line-height: 1;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    overflow-x: hidden !important;
    overflow-y: auto;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
    min-height: 100vh;
    background: #fff;
    overflow: hidden;
}


/* 头部样式 */
.header {
    /* margin外边距 */
    /* margin-right: 50px; */
    background-image: url(../img/headerBackgroud.jpg);
    background-size: 100% 100%;
    padding: 50px;
    /* text-align: center; */
}


#id_wrapper {
    /*设定高度最小为100%, 如果內容区块很多, 可以长大！*/
    min-height: 100%;
    position: relative;
    /*位置relative, 作为footer位置的参考*/
    text-align: center;
}

/* #id_header {
    height: 100px;
    line-height: 100px;
    background-color: red;
} */

#id_content {
    /* 留出header及footer区块的空间*/
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #2aabd2;
}

#id_footer {
    /*设定footer高度*/
    height: 40px;
    position: absolute;
    /*设定footer绝对位置在底部*/
    bottom: 0;
    width: 100%;
    /*展开footer宽度*/
    background-color: yellow;
    line-height: 40px;
}

.header h1 {
    padding-left: 0px;
}

#id_re {
    /* padding:30px; */
    text-align: center;

}


/* 导航条 */
.topnav {
    overflow: hidden;
    background-color: #333;
    /* margin-left: 50px; */
    /* border: 2px solid yellow; */
    padding-left: 30px;
}

/* 导航条链接 */
.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 30px;
    text-decoration: none;
    /* border: 1px solid red; */
}

.topnav a:hover {
    /* 当鼠标放在字体上时出现的颜色 */
    background-color: orange;
}

.footer {
    background-color: rgb(128, 124, 124);
    padding: 20px;
    text-align: center;
    /* background: #ddd; */
    margin-top: 20px;

}

/* 响应式布局 - 屏幕尺寸小于 800px 时，两列布局改为上下布局 */
@media screen and (max-width: 800px) {

    .leftcolumn,
    .rightcolumn {
        width: 100%;
        padding: 0;
    }
}

/* 响应式布局 -屏幕尺寸小于 400px 时，导航等布局改为上下布局 */
@media screen and (max-width: 400px) {
    .topnav a {
        float: none;
        width: 100%;
    }
}