/**
 * selidev.com版权所有   by  ljy
 注：所有z-index必须小于99
 */
 #wrapper .header{
    width: 100%;
    height: 380px;
    background-color: dodgerblue;
    color: #fff;
    position: relative;
}
/*大标题*/
#wrapper .header .title{
    position: absolute;
    z-index: 11;
    height:100%;
    line-height: 100%;
    width:100%;
    text-align: center;
    background-image: url("../img/dbg.jpg");
    background-position: center center;
    -webkit-background-size: cover;
    background-size: cover;
}
#wrapper .header .title h1,#wrapper .header .title h5{
    position: relative;
    top:50%;
    line-height: normal;
    color: #fff;
    text-shadow: 5px 5px 5px #0065ca;
}
#wrapper .header .title h5{

}
#wrapper .header .title .category,#wrapper .header .title .categorybackground{
    position:absolute;
    bottom:0;
    height: 60px;
    line-height: 60px;
    width:0;
    overflow-y:hidden;
    overflow-x: auto;
    white-space: nowrap;
}
#wrapper .header .title .category a{
    color:white;
    margin-left:10px;
    text-decoration: none;
    padding:5px;
}
#wrapper .header .title .category a:hover{
    color: red;
    background-color: #f3f3f3;
    border-radius: 5px;
}
#wrapper .header .title .categorybackground{
    background-color: black;
    opacity: 0.5;
}
/*菜单设计*//*查找按钮*/
#wrapper .header .menu{
    position: absolute;
    left:10px;
    top:10px;
    z-index: 12;
    width:200px;
}
#wrapper .header .menu h2{
    font-weight: normal;
    margin-left:10px;
    float:left;
}
#wrapper .header .menu h2 a{
    color:#fff;
    text-decoration: none;
    border-bottom: 1px solid #fff;
    font-size:18px;
    margin:0;
}
#wrapper .header .menu h2 button{
    float: right ;
}
#wrapper .header .menu h2 button img{
    animation: ljyclosemove 2s;
    -webkit-animation: ljyclosemove 2s;
}
#wrapper .header .menu button{
    float: left;
}
#wrapper .header .find{
    position: absolute;
    z-index: 12;
    right:10px;
    top:10px;
}
#wrapper .header .find button,#wrapper .header .menu button{
    background-color: transparent;
    border-width: 0;
    width:40px;
    height: 40px;
    cursor: pointer;
}
#wrapper .header .menu button:hover,#wrapper .header .find button:hover{
    background-color: rgba(0, 0, 0, 0.51);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
}
#wrapper .header .find button img,#wrapper .header .menu button img{
    width:25px;
}

#wrapper .bodyer{
    max-width: 960px;
    margin:auto;
    overflow: hidden;
    position: relative;
}
/*推荐文章*/
#wrapper .bodyer .tops,#wrapper .bodyer .articles{
    color: rgba(0, 0, 0, 0.5);
    position: relative;
}
#wrapper .bodyer .articles{
    max-width:650px;
}
#wrapper .bodyer .tops h2,#wrapper .bodyer .articles h2{
    margin-bottom:10px;
    margin-top:20px;
    width:100%;
}#wrapper .bodyer .tops h2{
    position: relative;
    z-index: 11;
    background-color: white;
 }
#wrapper .bodyer .tops h2 span,#wrapper .bodyer .articles h2 span{
    font-size:13px;
}
.bestArts{
    width: 100%;
    overflow-x: scroll;
    overflow-y: hidden;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
.bestArts .zz-r,.bestArts .zz-l
{
    width:10%;
    height:100%;
    position: absolute;
    z-index: 10;
    bottom:0;
}
/*左侧渐变*/
.bestArts .zz-l{
    background: -moz-linear-gradient(left, rgba(255, 255, 255,1) 10%,rgba(255,255,255,0) 100%);
    background: -webkit-linear-gradient(left,rgba(255,255,255,1) 10%,rgba(255,255,255,0) 100%);
    background: linear-gradient(to right,rgba(255,255,255,1) 10%,rgba(255,255,255,0) 100%);
    display: none;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 100%;
    width:10%;
}
/*右侧渐变*/
.bestArts .zz-r{
    background: -moz-linear-gradient(left,rgba(255,255,255,0) 10%,rgba(255,255,255,1) 100%);
    background: -webkit-linear-gradient(left,rgba(255,255,255,0) 10%,rgba(255,255,255,1) 100%);
    background: linear-gradient(to right,rgba(255,255,255,0) 10%,rgba(255,255,255,1) 100%);
    right:0;
    bottom: 0;
    height: 100%;
    width:10%;
    position: absolute;
}
.bestArts ul{
    list-style: none;
    white-space: nowrap;
}
.bestArts ul li{
    width:200px;
    height: 130px;
    position: relative;
    overflow: hidden;
    display: inline-block;
    border-radius:3px;
}
.bestArts ul li:hover{
    -webkit-box-shadow: 0 0 8px 1px rgba(0,0,0,.2);
    -moz-box-shadow: 0 0 8px 1px rgba(0,0,0,.2);
    box-shadow: 0 0 8px 1px rgba(0,0,0,.2);
}
.bestArts ul li button{
    position: absolute;
    top:5px;
    right:5px;
    border-width: 0;
    background-color: transparent;
    cursor: pointer;
}
.bestArts ul li a h3{
    position: absolute;
    bottom:0;
    color:white;
    padding:5px;
}
.bestArts  ul li a img{
    width:200px;
    height: 130px;
}

/*最新文章*/
#wrapper .bodyer .articles .ljy-panel{
    overflow: hidden;
    margin-bottom:20px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 2px 5px 10px 1px rgba(0,0,0,.2);
    -moz-box-shadow: 2px 5px 10px 1px rgba(0,0,0,.2);
    box-shadow: 2px 5px 10px 1px rgba(0,0,0,.2);
}
#wrapper .bodyer .articles .ljy-panel:hover{
    box-shadow:0 0 10px 5px rgba(0,0,0,.2);
    transition: box-shadow .25s;;
    will-change: box-shadow;
}
#wrapper .bodyer .articles .ljy-panel .display .media{
    position: relative;
}
#wrapper .bodyer .articles .ljy-panel .display .media .title{
    position: absolute;
    bottom:10px;
    color: #fff;
    font-size:25px;
    text-align: center;
    width:100%;
    word-break: break-all;
    word-wrap:break-word;
    text-shadow: 0.1em 0.1em 0.2em black;
}
#wrapper .bodyer .articles .ljy-panel .display .media .title2{
    top:10px;bottom:auto;
}
#wrapper .bodyer .articles .ljy-panel .display .media .title3{
    position:relative;
    bottom:auto;
    color: #000000;
    text-shadow: none;
    padding:10px;
}
#wrapper .bodyer .articles .ljy-panel .display .media img.cover{
    max-width:100%;
    max-height:370px;
}
#wrapper .bodyer .articles .ljy-panel .display .media .func{
    position: absolute;
    top:10px;
    right:10px;
}
/*审核中...*/
#wrapper .bodyer .display button.unaudit{
    border-width: 0;
    background-color: #c50301;
    color: #ffffff;
    opacity: 0.9;
    cursor: unset;
}
/*通过审核*/
#wrapper .bodyer .display button.passAudit{
    border-width: 0;
    background-color: #0BB266;
    color: #ffffff;
    opacity: 0.9;
}
/*拒绝*/
#wrapper .bodyer .display button.refuseAudit{
    border-width: 0;
    background-color: #c50301;
    color: #ffffff;
    opacity: 0.9;
}

#wrapper .bodyer .articles .ljy-panel .display .media .func button.acting{
    border-width: 0;
    background-color: #00A8EF;
    color: #ffffff;
    opacity: 0.9;
}
#wrapper .bodyer .articles .ljy-panel .display .desc{
    padding:5px 10px;
}
#wrapper .bodyer .articles .ljy-panel .display hr{
    margin:5px;
    color: rgba(223, 223, 223, 0.62);
    font-weight: normal;
}
#wrapper .bodyer .articles .ljy-panel .display .info{
    padding:10px;
}
#wrapper .bodyer .articles .ljy-panel .display .info img{
    margin:0 10px;
}
#wrapper .bodyer .articles .ljy-panel .display .info a{
    display: inline-block;
    margin-right:10px;
    float: right;
    color:red;
}
/*加载更多*/
#wrapper .bodyer .articles .more button{

}
/*点击查找按钮显示查找框*/
#wrapper .topfinder{
    width:100%;
    height: 50px;
    line-height: 50px;
    position: absolute;
    padding-top:5px;
    padding-bottom: 5px;
    top:0;
    left:0;
    background-color: #0761b4;
    z-index: 100;
    -webkit-box-shadow: 0px 0px 5px 5px #ccc;
    -moz-box-shadow: 0px 0px 5px 5px #ccc;
    box-shadow: 0px 0px 5px 5px #ccc;
    display: none;
}
/*#wrapper .topfinder input,#wrapper .topfinder button{*/
    /*float:left;*/
/*}*/
/*#wrapper .topfinder input{*/
    /*margin-top:8px;*/
/*}*/
/*#wrapper .topfinder .btnsearch{*/
    /*margin-top:8px;*/
/*}*/
/*阴影背景遮罩层*/
#wrapper .bglayer{
    width:100%;
    height: 100%;
    position: absolute;
    left: 0;
    top:0;
    z-index: 99;
    background-color: rgba(0,0,0,0.36);
}
#wrapper .topfinder button{
    background-color: transparent;
    border-width: 0;
    width: 35px;
    height:35px;
    line-height: normal;
    margin-left:5px;
}
#wrapper .topfinder button:hover{
    background-color: rgba(0, 0, 0, 0.51);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
}
#wrapper .topfinder button img{
    width:20px;
}
#wrapper .topfinder input{
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    height: 25px;
    border-width: 0;
    background-color: rgba(203,203,203,0.34);
    color:white;
    font-size: 16px;
    padding:5px;
    margin-left:10px;
    width:0;
}
#wrapper .topfinder input::placeholder{
    color:white;
}
#wrapper .topfinder .btnsearch{
    position: absolute;
    right:10px;
    top:14px;
}
@keyframes ljyclosemove
{
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
}
    /*版权部分*/
#wrapper .footer{
    background-color: rgba(0, 0, 0, 0.11);
    text-align:center;
    padding:10px;
    color: rgba(0, 0, 0, 0.37);
    font-size:12px;
    margin-top:10px;
}
#wrapper .footer .contect{
    margin:auto;
}
#wrapper .footer .contect strong{
    color:black;
}
#wrapper .footer .contect ul{
    display: inline-block;
    margin-top:10px;
}
#wrapper .footer .contect ul li{
    text-align: left;
}
/*ljy左侧个人面板*/
#wrapper .ljyleftpanel{
    position: absolute;
    left:-100%;
    top:0;
    z-index: 100;
    width:calc(100% - 50px);
    max-width: 320px;
    height: 100%;
    background-color: white;
    -webkit-box-shadow: 0px 0px 5px 3px #6a6a6a;
    -moz-box-shadow: 0px 0px 5px 3px #6a6a6a;
    box-shadow: 0px 0px 5px 3px #6a6a6a;
}
#wrapper .ljyleftpanel .toppersonal{
    background-image: url("../photo/touxiang.jpg");
    background-position: center center;
    background-size: cover;
    height: 200px;
    position: relative;
    bottom: 10px;
}
#wrapper .ljyleftpanel .toppersonal .info{
    position: absolute;
    bottom: 10px;
    color:white;
    padding:10px;
}
#wrapper .ljyleftpanel .toppersonal .logout{
    position:absolute;
    right:10px;
    bottom:10px;
}
#wrapper .ljyleftpanel .toppersonal .logout a{
    text-decoration: none;
    color:#fff;
    font-size:12px;
    display:none;
}
#wrapper .ljyleftpanel .toppersonal .logout a:hover{
    color:red;
}
#wrapper .ljyleftpanel nav{
    overflow-y: scroll;
    height:calc(100% - 200px)
}
#wrapper .ljyleftpanel nav ul li a{
    display:block;
    width:98%;
    padding: 2% 1%;
    height: 40px;
    line-height: 40px;
    text-decoration:none;
    color: #4b4b4b;
    font-size:18px;
    font-weight: lighter;
}
#wrapper .ljyleftpanel nav ul li a:hover{
    background-color: #dfdfdf;
}
#wrapper .ljyleftpanel nav ul li a.active{
    color: #1296db;
    font-weight: bolder;
}
#wrapper .ljyleftpanel nav ul li a img{
    float:left;
    vertical-align: middle;
    width: 25px;
    margin:8px;

}
/*登录框*/
#wrapper .ljylogin{
    background-color: #3a3a34;
    position: absolute;
    z-index: 100;
    max-width: 300px;
    left:50%;
    top:0;
    margin-left:-150px;
    margin-top:-150px;
    border-radius: 3px;
    -webkit-box-shadow: 0px 0px 15px 3px #f1f1f1;
    -moz-box-shadow: 0px 0px 15px 3px #f1f1f1;
    box-shadow: 0px 0px 15px 3px #f1f1f1;
    padding: 10px;
    opacity: 0.9;
}
#wrapper .ljylogin:hover{
    -webkit-box-shadow: 0px 0px 15px 5px #f1f1f1;
    -moz-box-shadow: 0px 0px 15px 5px #f1f1f1;
    box-shadow: 0px 0px 15px 5px #f1f1f1;
}
#wrapper .ljylogin h1{
    letter-spacing: 10px;
    color: #ffffff;
    text-align: center;
    font-size: 22px;
    margin-bottom: 20px;
}
#wrapper .ljylogin .loginPanel{
    max-width: 250px;
    width: calc(100% - 1px);
    overflow: hidden;
    position: relative;
}
#wrapper .ljylogin .loginPanel .row {
    margin:auto;
}
#wrapper .ljylogin .loginPanel .row .box {
    height: 50px;
    line-height: 50px;
}
#wrapper .ljylogin .loginPanel .row .box img{
    width: 40px;
}
#wrapper .ljylogin .loginPanel .row .box input{
    border-width: 0;
    background-color: transparent;
    border-bottom: 1px solid white;
    height: 40px;
    color: #FFFFFF;
    font-size: 16px;
    margin-top:-5px;
    position: absolute;
    margin-left:10px;
    padding: 0;
    width: calc(100% - 60px);
    border-radius: 2px;
    outline: none;
}
#wrapper .ljylogin .loginPanel .row .box input::placeholder{
    color: rgb(214, 214, 214);
}
#wrapper .ljylogin .loginPanel .row button{
    font-size: 20px;
    font-family: "微软雅黑";
    width: 250px;
    border-width: 0;
    padding: 10px;
    letter-spacing: 5px;
    margin-top:20px;
    background-color: #1e6ad3;
    color:#FFFFFF;
    cursor: pointer;
    border-radius: 3px;
}
#wrapper .ljylogin .loginPanel .row button:hover{
    background-color: dodgerblue;
    opacity: 1;
}
#wrapper .ljylogin .loginPanel .row a{
    color:red;
}
#wrapper .ljylogin .loginPanel .row a:hover{
    color: dodgerblue;
}
/*写什么*/
#wrapper .writewhat{
    position: absolute;
    z-index:100;
    top:calc(100% + 80px);
    text-align: center;
    margin-top:-40px;
    width: 100%;
}
#wrapper .writewhat button{
    width:80px;
    height: 80px;
    border-radius: 50%;
    background-color: #73d974;
    color: white;
    font-size: large;
    border-width: 0;
    margin-left:10px;
    cursor: pointer;
}
#wrapper .writewhat button:hover{
    -webkit-box-shadow: 0px 0px 10px 3px #919191;
    -moz-box-shadow: 0px 0px 10px 3px #919191;
    box-shadow: 0px 0px 10px 3px #919191;
}
#wrapper .writewhat button:nth-child(2){
    background-color:orange;
}
/*-----------------------文章详细内容样式----------------------------*/
#wrapper .bodyer .articleDetail{
    color: rgb(92, 92, 92);
    margin:auto;
    overflow: hidden;
    position: relative;
}
@media screen and (max-width:500px){
    #wrapper .bodyer .articleDetail{
        max-width: 100%;
    }
    #wrapper .bodyer .articleDetail .ljypanel{
        border-radius: unset;
    }
}
#wrapper .bodyer .articleDetail .ljypanel .display .introduction{
    margin-bottom:10px;
}
#wrapper .bodyer .articleDetail .ljypanel .display .desc img{
    max-width: 100%;
}
#wrapper .bodyer .articleDetail .ljypanel .recommend{
    padding:10px;
    background-color: #e6e6e6;
    position: relative;
}
/*显示作者样式*/
#wrapper .bodyer .articleDetail .ljypanel .display .author{
    margin-top: 40px;
    border-bottom:1px solid #cccccc;
    width:300px;
    padding-bottom:10px;
    line-height: 30px;
    font-weight: bolder;
}
#wrapper .bodyer .articleDetail .ljypanel .fabulous{
    text-align: center;
    margin-bottom: 10px;
    color: #ff3581;
    position: relative;
}
#wrapper .bodyer .articleDetail .ljypanel .fabulous button{
    border-width: 0;
    background-color: #ff3581;
    border-radius: 50%;
    position: relative;
    width: 40px;
    height: 40px;
    margin-bottom: 10px;
}
#wrapper .bodyer .articleDetail .ljypanel .fabulous button:hover{
    background-color: #ff5fa3;
    cursor: pointer;
}
#wrapper .bodyer .articleDetail .ljypanel .fabulous button img{
    width: 30px;
}
#wrapper .bodyer .articleDetail .ljypanel .info{
    background-color: #e6e6e6;
    padding:10px;
    border-bottom: 1px solid #9f9f9f;
    overflow: auto;
}
#wrapper .bodyer .articleDetail .ljypanel .recommend .possible{
    margin-bottom: 10px;
    margin-top:10px;
}
/*设置赞赏作者刘金玉*/
#wrapper .bodyer .articleDetail .likeAuthor{
    position: absolute;
    z-index: 99;
    top:1000px;
    left:50%;
    -webkit-transform: translateX(-50%) rotate(0deg);
    -ms-transform: translateX(-50%) rotate(0deg);
    -moz-transform: translateX(-50%) rotate(0deg);
    -o-transform: translateX(-50%) rotate(0deg);
    transform: translateX(-50%) rotate(0deg);
    transition-duration: 500ms;
    cursor: pointer;
}
/*赞赏动画*/
#wrapper .bodyer .articleDetail .likeAuthorCatoon1{
    position: absolute;
    top:50%;
    left:50%;
    -webkit-transform: translate(-50%,-50%) rotate(360deg);
    -ms-transform: translate(-50%,-50%) rotate(360deg);
    -moz-transform: translate(-50%,-50%) rotate(360deg);
    -o-transform: translate(-50%,-50%) rotate(360deg);
    transform: translate(-50%,-50%) rotate(360deg);
    transition-duration: 1000ms;
    cursor: pointer;
}
#wrapper .bodyer .articleDetail .likeAuthor .conbox{
    position: relative;
}
#wrapper .bodyer .articleDetail .likeAuthor .conbox img{
    width: 260px;
    border-radius: 5px;
    box-shadow:black 1px 1px 10px;
}
#wrapper .bodyer .articleDetail .likeAuthor .conbox button{
    color:white;
    background-color: rgba(0,0,0,0.5);
    position: absolute;
    right: 10px;
    top:10px;
    width: 30px;
    height: 30px;
}
/*返回首页*/
#wrapper .bodyer .articleDetail .ljypanel .fabulous .goindex{
    position: absolute;
    right:10px;
    bottom:0px;
    cursor: pointer;
    text-decoration: underline;
    color:blue;
}
#wrapper .bodyer .articleDetail .ljypanel .fabulous .goindex:hover{
    text-decoration: unset;
    color:#ff3581;
}

/*侧边栏*/
.container .articles{
    float: left;
}
.container .siderbar{
    max-width:300px;
    border:1px solid red;
    float:right
}